@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio RDC - Eu sou o dev certo!</h1>
    <br />
    <hr />
    <br />
    <p>Visite meu LinkedIn <a href="https://www.linkedin.com/in/wallace-maschette-122a2049/">Wallace Maschette</a></p>
</div>
