
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Vamos salvar o soldado Rian!</h1>
<br />
<div class="row justify-content-center">
    <input type="number" id="InputSoldados" placeholder="Quantos soldados?" class="input-group col-lg-4 col-md-6 col-sm-8 col-8" /> <input type="button" id="Salva" class="btn-dark" onclick="SalvarRian()" value="Salvar" />
</div>
<br />
<div id="divResultado">

</div>


